{% extends '_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container-form">
        <a class="back-link" href="{% url 'random_quote' %}">&laquo; back to quotes</a>

        <h1>Login</h1>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a class="page-btn" href="{% url 'account_signup' %}">Sign up</a></p>
    </div>
{% endblock %}
